@charset "utf-8";
/* CSS Document */
.myBackground{
	background-color: aqua;
	margin-top:-20px;
	width:100%;
	height: 84vh;
}

.myForeground{
	position: absolute;
	left: 50%;
	top: 40%;
	transform: translate(-50%, -50%);
	padding:10px 0 10px 0;
	background-color: white;
	width:80%;
	border-radius: 10px;
	
}

.footer{
	background-color: #222222!important; 
	color:pink; 
	padding-top:8px;
	padding-bottom:5px;
}